In [1]:
import pandas as pd
import numpy as np

In [2]:
wp=pd.read_csv('alldata_positive_done.csv')

In [3]:
wp

,Unnamed: 0,MethodName,M_Call_Arg,M_D_Name,M_D_Arg,File_Name_x,M_D_Arg1,M_D_Arg2,M_Call_Arg1,M_Call_Type1,M_Call_Arg2,M_Call_Type2
0,0,patterns,"; <class 'str'>, , , , , , , , , , , , , , , ...",patterns,"'self', 'value'",D:\Testing\adlibre\Adlibre-DMS\adlibre_dms\app...,'self','value',NaN,<class 'str'>,NaN,NaN
1,1,patterns,"django.contrib.auth.views ; <class 'str'>, , L...",patterns,"'self', 'value'",D:\Testing\adlibre\Adlibre-DMS\adlibre_dms\app...,'self','value',django.contrib.auth.views,<class 'str'>,NaN,NaN
2,2,patterns,"; <class 'str'>, ,",patterns,"'self', 'value'",D:\Testing\adlibre\Adlibre-DMS\adlibre_dms\app...,'self','value',NaN,<class 'str'>,NaN,NaN
3,3,patterns,"; <class 'str'>, ,",patterns,"'self', 'value'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','value',NaN,<class 'str'>,NaN,NaN
4,4,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'self', 'observer'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','observer',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...
243519,34844,property,"_get_cascade ; <class 'str'>, _set_cascade ; <...",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\or...,'self','name',_get_cascade,<class 'str'>,_set_cascade,<class 'str'>
243520,34845,property,"bind ; <class 'str'>, _set_bind ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_set_bind,<class 'str'>
243521,34846,property,"bind ; <class 'str'>, _set_bind ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_set_bind,<class 'str'>
243522,34885,property,"bind ; <class 'str'>, _bind_to ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_bind_to,<class 'str'>
243523,34886,property,"bind ; <class 'str'>, _bind_to ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_bind_to,<class 'str'>

In [4]:
wr=wp.dropna()

In [5]:
wr

,Unnamed: 0,MethodName,M_Call_Arg,M_D_Name,M_D_Arg,File_Name_x,M_D_Arg1,M_D_Arg2,M_Call_Arg1,M_Call_Type1,M_Call_Arg2,M_Call_Type2
4,4,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'self', 'observer'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','observer',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
5,5,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'self', 'func', 'name'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','func',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
6,6,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'klass', 'name'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'klass','name',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
7,7,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'self', 'registry_name', 'value', 'object'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','registry_name',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
8,8,register,"project_details ; <class 'str'>, ProjectDetail...",register,"'self', 'model_or_iterable', 'admin_class'",D:\Testing\adlibre\Adlibre-TMS\adlibre_tms\app...,'self','model_or_iterable',project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...
243519,34844,property,"_get_cascade ; <class 'str'>, _set_cascade ; <...",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\or...,'self','name',_get_cascade,<class 'str'>,_set_cascade,<class 'str'>
243520,34845,property,"bind ; <class 'str'>, _set_bind ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_set_bind,<class 'str'>
243521,34846,property,"bind ; <class 'str'>, _set_bind ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_set_bind,<class 'str'>
243522,34885,property,"bind ; <class 'str'>, _bind_to ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_bind_to,<class 'str'>
243523,34886,property,"bind ; <class 'str'>, _bind_to ; <class 'str'>",property,"'self', 'name'",D:\Testing\zzzeek\sqlalchemy\lib\sqlalchemy\sq...,'self','name',bind,<class 'str'>,_bind_to,<class 'str'>

In [9]:
wrrt=wr[['M_D_Name','M_D_Arg1','M_D_Arg2','MethodName','M_Call_Arg1','M_Call_Type1','M_Call_Arg2','M_Call_Type2']]

In [10]:
wrrt['class']='1'

C:\Users\sdas1\AppData\Local\Temp/ipykernel_5512/71976591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wrrt['class']='1'

In [11]:
wrrt

,M_D_Name,M_D_Arg1,M_D_Arg2,MethodName,M_Call_Arg1,M_Call_Type1,M_Call_Arg2,M_Call_Type2,class
4,register,'self','observer',register,project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>,1
5,register,'self','func',register,project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>,1
6,register,'klass','name',register,project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>,1
7,register,'self','registry_name',register,project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>,1
8,register,'self','model_or_iterable',register,project_details,<class 'str'>,ProjectDetailsReport,<class 'str'>,1
...,...,...,...,...,...,...,...,...,...
243519,property,'self','name',property,_get_cascade,<class 'str'>,_set_cascade,<class 'str'>,1
243520,property,'self','name',property,bind,<class 'str'>,_set_bind,<class 'str'>,1
243521,property,'self','name',property,bind,<class 'str'>,_set_bind,<class 'str'>,1
243522,property,'self','name',property,bind,<class 'str'>,_bind_to,<class 'str'>,1
243523,property,'self','name',property,bind,<class 'str'>,_bind_to,<class 'str'>,1

'D:\\Testing\\adlibre\\Adlibre-TMS\\adlibre_tms\\apps\\tms\\reports.py'

In [ ]:
wr[['M_D_Name','M_D_Arg1','M_D_Arg2','MethodName','M_Call_Arg1','M_Call_Type1','M_Call_Arg2','M_Call_Type2']]